/* Log : Fixed chatboxpos to not be pushed by text 
*/

/* Need to do:
Style the scrollbars , ie both canvas and textarea // small, hidden unless active, color it bluish to blend in*/

.outsideWrapper {
    margin-left: 30%;
    border-left: 7px solid #f55f5f;
    padding: 2rem;
    display: flex;
    align-items: center;
    height: 100vh; 
  }
  
  .insideWrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      height: 100%; 
      overflow: hidden; 
  }
  
  .chatBox {
      display: flex;        
      margin-bottom: 2rem;
      margin-top: 3rem;  
      width: 50%;
      transform: translateX(-10%); /* temp for now just to center it, fix later*/
      flex-shrink: 0;

  }
  
  .chatInputBox {
      flex: 3 1 auto;
      max-width: 100%;           
      border: 1px solid rgb(92, 32, 141); 
      padding: 8px;
      outline: none; /* should fix for webacc issues with none , check later*/
      resize: none;
      display:flex;
      height: 5rem;
      z-index:99;

  }
  
  .sendButton {
    flex: 1;
    padding: 8px 2.5rem;      
    opacity: 1;
    border: 1px solid rgb(92, 32, 141); 
    }
  
  /* Basic message item styling */

  .msgCanvas {
    display: flex;
    flex-direction: column;
    width: 70%;
    gap: 1rem;
    flex-grow: 1;
    overflow-y: auto;
    padding: 3rem;

    overflow: scroll;
    scrollbar-color: rgb(60, 60, 80) transparent;
    scrollbar-width: thin;
  }





  .msgItem {
      max-width: 70%;
      background-color:transparent;
  }
  
  .userMsg { 
      align-self: flex-start;
      border: 2px solid rgba(0, 45, 128, 0.5);
      padding: 1rem;
      
  }
  
  .aiMsg { 
      align-self: flex-end;
      background-color: none;
  }

  .errorMsg {
    background-color: rgba(255, 0, 0, 0.1);
    border: 1px solid rgba(255, 0, 0, 0.3);
  }
